* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style:none;
}

.add-img img {
  display: block;
  width: auto;
  height: 100px;
  max-width: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.gnb-wrapper {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo img{
  display: block;
  width: 160px;

}

.gnb-icon {
  display: flex;
}

.gnb-icon-button {
    width: 48px;
    height: 48px;
    margin: 0;
    margin-top: 2px;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 23px;

    display: block;
    position: relative;
}

.lnb {
  position: sticky;
  top:0;
  left: 0;
  z-index: 500;
}

.lnb-list {
  width: 100%;
  padding: 13px 10px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
}

.lnb-item a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  color: #000;
  padding: 0 8px;

  display: block;

}

.footer-fixed-nav {
  position: fixed;
  bottom: 0;
}

.fixed-menu-list {
  width: 100%;
  height: 50px;
  border-top: 1px solid #bcbcbd;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;

  display: flex;
}


.fixed-menu-item .user {
  display: block;
  width:50px;
  padding: 14px;
  background-image: url(https://www.brandi.co.kr/static/22.08.01/images/ic-gnb-aos-my-n@2x.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
}
/* https://www.brandi.co.kr/static/22.08.01/images/ic-gnb-aos-haru-n@2x.png */